<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitc.next502.team_prj.mapper.BookmarkMapper">

    <insert id="insertBookmark">
        INSERT INTO bookmark (user_id, restaurant_id, restaurant_name, create_date)
        VALUES (#{userId}, #{restaurantId}, #{restaurantName}, NOW())
    </insert>

    <delete id="deleteBookmark">
        DELETE FROM bookmark
        WHERE user_id = #{userId} AND restaurant_id = #{restaurantId}
    </delete>

    <select id="isBookmarked" resultType="int">
        SELECT COUNT(*) FROM bookmark
        WHERE user_id = #{userId} AND restaurant_id = #{restaurantId}
    </select>

    <select id="selectMyBookmarkList" resultType="bitc.next502.team_prj.dto.BookmarkDTO">
        SELECT
            b.id_seq,
            b.restaurant_id,
            b.create_date,


            r.place AS restaurantName,


            r.main_img AS mainImgThumb,


            r.addr1 AS address,

            r.category,

            c.foods,

            0.0 AS rating

        FROM bookmark b
                 JOIN restaurant r ON b.restaurant_id = r.restaurant_id
                 JOIN category c ON r.category = c.category
        WHERE b.user_id = #{userId}
        ORDER BY b.create_date DESC
    </select>

</mapper>