<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitc.next502.team_prj.mapper.MypageMapper">

    <select id="selectMyInfoById" resultType="bitc.next502.team_prj.dto.MyInfoDTO">
        SELECT
            user_id     AS userId,   user_email  AS email,
            user_tel    AS phone,
            user_age    AS age,
            user_name   AS name,
            user_role   AS grade
        FROM
            normal_user
        WHERE
            user_id = #{userId}
    </select>

    <select id="selectMyResvList" resultType="bitc.next502.team_prj.dto.MyResvDTO">
        SELECT
            r.reservation_id     AS resvId,
            d.title              AS storeName,
            r.reservation_date   AS resvDate,
            r.reservation_time   AS resvTime,
            r.count_people       AS headCount,
            r.reservation_state  AS status,
            IF(rv.review_idx IS NULL, 0, 1) AS isReviewed
        FROM
            reservation r
                JOIN
            restaurant_detail d ON r.restaurant_id = d.restaurant_id
                LEFT JOIN
            review rv ON r.reservation_id = rv.reservation_id
        WHERE
            r.user_id = #{userId}
        ORDER BY
            r.reservation_date DESC
    </select>

    <delete id="deleteReservation">
        DELETE FROM reservation
        WHERE reservation_id = #{resvId}
    </delete>

    <select id="selectNormalUserById" resultType="bitc.next502.team_prj.dto.NormalUserDTO">
        SELECT *
        FROM normal_user
        WHERE user_id = #{userId}
    </select>

    <delete id="deleteNormalUser">
        DELETE FROM normal_user
        WHERE user_id = #{userId}
    </delete>

    <select id="getMyInfo" resultType="bitc.next502.team_prj.dto.MyInfoDTO">
        SELECT
            user_id AS userId,
            user_name AS name,
            user_email AS email,
            user_tel AS phone,
            user_age AS age
        FROM normal_user
        WHERE user_id = #{userId}
    </select>

    <update id="updateMyInfo" parameterType="bitc.next502.team_prj.dto.MyInfoDTO">
        UPDATE normal_user
        <set>
            <if test="name != null and name != ''">
                user_name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                user_tel = #{phone},
            </if>
            <if test="password != null and password != ''">
                user_pw = #{password}
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>

</mapper>